/* src/index.css */
@import './App.css';

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure all elements use border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}